.fullScreenImage {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}

.item {
  display: flex;
  height: 60vh;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .item {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    font-size: 18px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .item {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .item {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .item {
    display: flex;
    height: 60vh;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }
}
